<table id="locations-display-table" class="table table-hover table-striped">
  <thead>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Postal Code</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>e-mail</th>
      <th>Website</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Manager</th>
                  
  </thead>
  <tbody>
      <% @company.locations.each do |pilot| %>
          <tr class="fields">
            <td><%= company.address %></td>
            <td><%= company.city %></td>
            <td><%= company.state %></td>
            <td><%= company.country %></td>
            <td><%= company.postal_code %></td>
            <td><%= company.phone %></td>
            <td><%= company.fax %></td>
            <td><%= company.emai %></td>
            <td><%= company.website %></td>
            <td><%= company.latitude %></td>
            <td><%= company.longitude %></td>
            <td><%= company.manager %></td>
          </tr>
      <% end %>
  </tbody>
</table>