<div id="new-location-fields" class="modal fade" data-backdrop="static">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add a Location<%= " to the #{ @vompany.name } Location list" unless @company.name.nil? %></h3>
  </div>
  <div class="modal-body">
    <fieldset>
      <div class="control-group">
        <%= f.label(:address, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:address, :class => "input-xlarge field") %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label(:city, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:city, :class => "input-xlarge field") %>
        </div>
      </div>
     
      <div class="control-group">
        <%= f.label(:state, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:state, :class => "input-xlarge field") %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label(:country, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:country, :class => "input-xlarge field", :data => { :validation => "required validate_length length2-50", "validation-error-msg" => "Country is required and cannot be must be between 2 and 50 characters." }) %>
        </div>
      </div>
    
     
      <div class="control-group">
        <%= f.label(:postal_code, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:postal_code, :class => "input-xlarge field") %>
        </div>
      </div>
     
      <div class="control-group">
        <%= f.label(:phone, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:phone, :class => "input-xlarge field") %>
        </div>
      </div>
     
      <div class="control-group">
        <%= f.label(:email, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:email, :class => "input-xlarge field") %>
        </div>
      </div>
     
      <div class="control-group">
        <%= f.label(:website, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:website, :class => "input-xlarge field") %>
        </div>
      </div>
     
      <div class="control-group">
        <%= f.label(:latitude, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:latitude, :class => "input-xlarge field") %>
        </div>
      </div>
     
      <div class="control-group">
        <%= f.label(:longitude, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:longitude, :class => "input-xlarge field") %>
        </div>
      </div>
     
      <div class="control-group">
        <%= f.label(:manager, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:manager, :class => "input-xlarge field") %>
        </div>
      </div>
      
    
    
    
    
      <%= f.hidden_field(:_destroy, :class => "field") %>
    </fieldset>
  </div>
  <div class="modal-footer">
    <button id="addButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" title="Add this Pilot to the list of Pilots that are assigned to this Ship.">Add</button>
    <button id="cancelButton" type="button" class="btn btn-inverse" data-dismiss="modal" aria-hidden="true" title="Close this screen without adding the Pilot to the list.">Cancel</button>
  </div>
</div>

<script type="text/javascript">
  pilotFieldsUI.init();
</script>