<h1>Listing spree_companies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Website</th>
    <th>Logo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spree_companies.each do |spree_company| %>
  <tr>
    <td><%= spree_company.name %></td>
    <td><%= spree_company.contact %></td>
    <td><%= spree_company.phone %></td>
    <td><%= spree_company.email %></td>
    <td><%= spree_company.website %></td>
    <td><%= spree_company.logo %></td>
    <td><%= link_to 'Show', spree_company %></td>
    <td><%= link_to 'Edit', edit_spree_company_path(spree_company) %></td>
    <td><%= link_to 'Destroy', spree_company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_spree_company_path %>
