<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @spree_company.name %>
</p>

<p>
  <b>Contact:</b>
  <%= @spree_company.contact %>
</p>

<p>
  <b>Phone:</b>
  <%= @spree_company.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @spree_company.email %>
</p>

<p>
  <b>Website:</b>
  <%= @spree_company.website %>
</p>

<p>
  <b>Logo:</b>
  <%= @spree_company.logo %>
</p>


<%= link_to 'Edit', edit_spree_company_path(@spree_company) %> |
<%= link_to 'Back', spree_companies_path %>
