<h1>Listing spree_locations</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Postal code</th>
    <th>Phone</th>
    <th>Fax</th>
    <th>Email</th>
    <th>Website</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spree_locations.each do |spree_location| %>
  <tr>
    <td><%= spree_location.company_id %></td>
    <td><%= spree_location.address %></td>
    <td><%= spree_location.city %></td>
    <td><%= spree_location.state %></td>
    <td><%= spree_location.country %></td>
    <td><%= spree_location.postal_code %></td>
    <td><%= spree_location.phone %></td>
    <td><%= spree_location.fax %></td>
    <td><%= spree_location.email %></td>
    <td><%= spree_location.website %></td>
    <td><%= spree_location.latitude %></td>
    <td><%= spree_location.longitude %></td>
    <td><%= link_to 'Show', spree_location %></td>
    <td><%= link_to 'Edit', edit_spree_location_path(spree_location) %></td>
    <td><%= link_to 'Destroy', spree_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_spree_location_path %>
