<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @spree_location.company_id %>
</p>

<p>
  <b>Address:</b>
  <%= @spree_location.address %>
</p>

<p>
  <b>City:</b>
  <%= @spree_location.city %>
</p>

<p>
  <b>State:</b>
  <%= @spree_location.state %>
</p>

<p>
  <b>Country:</b>
  <%= @spree_location.country %>
</p>

<p>
  <b>Postal code:</b>
  <%= @spree_location.postal_code %>
</p>

<p>
  <b>Phone:</b>
  <%= @spree_location.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @spree_location.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @spree_location.email %>
</p>

<p>
  <b>Website:</b>
  <%= @spree_location.website %>
</p>

<p>
  <b>Latitude:</b>
  <%= @spree_location.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @spree_location.longitude %>
</p>


<%= link_to 'Edit', edit_spree_location_path(@spree_location) %> |
<%= link_to 'Back', spree_locations_path %>
